.container {
  width: 84%;
  max-width: 1840px;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 96%;
  }
}

@media screen and (max-width: 524px) {
  .container {
    width: 98%;
  }
}