:root {
  --color-green: #33B787;
  --color-red: #B73333;
  --color-blue: #338FB7;
  --color-text: #F3F3F3;
  --color-black: #000000;
  --color-black-light: #121212;
  --color-background: #1A1A1A;
  --color-background-light: #272727;
  --color-shadow: rgba(0, 0, 0, .5);
  --color-shadow-light: rgba(18, 18, 18, .5);
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-bold: 700;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
  line-height: 162%;
  background-color: var(--color-background);
  color: var(--color-text);
}

p {
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
input::placeholder,
textarea::placeholder {
  font-family: 'Poppins', sans-serif;
}

.button {
  display: inline-block;
  padding: 1.2rem 2rem;
  font-size: 1.8rem;
  font-weight: 500;
  border: 2px solid;
  cursor: pointer;
  transition: .2s all;
  color: var(--color-text);
  box-shadow: 0 4px 4px var(--color-shadow);
}
.button:hover {
  background-color: transparent;
}
.button-primary {
  background-color: var(--color-red);
  border-color: var(--color-red);
}
.button-secondary {
  background-color: var(--color-green);
  border-color: var(--color-green);
  color: var(--color-background);
}
.button-secondary:hover {
  color: var(--color-text);
}
.button-tertiary {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}
.button-wide {
  padding-left: 4rem;
  padding-right: 4rem;
}

.link {
  font-size: 1.8rem;
  text-decoration: underline;
}
.link-primary {
  color: var(--color-red);
}
.link-secondary {
  color: var(--color-green);
}
.link-tertiary {
  color: var(--color-blue);
}