.project {
  
}

.featuredImage {
  margin-bottom: 4rem;
  border-left: 6px solid var(--color-blue);
  box-shadow: 0 6px 4px var(--color-shadow);
}

.featuredImage span {
  display: block !important;
}